<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.13/dist/vue.global.prod.js"></script>
</head>
<body>
    <div id="app">
        <div class="form">
            <div>
              <select v-model="selectedCity" @change="saveToCookie('selectedCity')">
                <option value="">Выберите город</option>
                <option v-for="city in cities" :value="city">{{ city }}</option>
              </select>
              <select v-model="selectedWorkshop" @change="saveToCookie('selectedWorkshop')">
                <option value="">Выберите цех</option>
                <option v-for="workshop in workshops" :value="workshop">{{ workshop }}</option>
              </select>
              <select v-model="selectedEmployee" @change="saveToCookie('selectedEmployee')">
                <option value="">Выберите сотрудника</option>
                <option v-for="employee in employees" :value="employee">{{ employee }}</option>
              </select>
            </div>
            
            <div id="results">
              <div v-if="filteredData.length === 0">Нет результатов</div>
              <div v-else v-for="item in filteredData" :key="item.city + item.workshop + item.employee">
                Город: {{ item.city }}, Цех: {{ item.workshop }}, Сотрудник: {{ item.employee }}, Бригада: {{ item.shift }}
              </div>
            </div>
          </div>
      </div>
      <script src="main.js"></script>
</body>

</html>